name: Build and Deploy
on: [push]
permissions:
  contents: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          wget https://github.com/mikefarah/yq/releases/download/v4.44.2/yq_linux_amd64 -O /usr/local/bin/yq
          chmod +x /usr/local/bin/yq
          mkdir -p build
          cd collections
          for f in *.yml; do ../src/vrc2ods.sh -f $f > ../build/vrc-$(echo $f | md5sum | awk '{print $1}').json; done
          cd ../build
          for f in vrc-*.json do printf '%s' "$f" | jq -Rs '{href: "https://luomus.github.io/vrc/\(.)"}'; done | jq -s '{collections:.}' > href.json
          for f in vrc-*.json do cat $f | jq '."ltc:ObjectGroup"."ltc:collectionName"' | jq -Rd '{name: "\(.)"}'; done | jq -s '{collections:.}' > names.json
          jq -s names.json href.json '.[0] * .[1]' > index.json
          rm names.json href.json

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build
